:root {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}